<section class="page-section clearfix" style = "padding-left: 0rem; padding-right: 0rem; margin-top:7rem;margin-bottom:15rem">



	<div class="col-md-6" style="padding-left: 0rem;padding-right: 0rem;margin-top: 4rem; margin-left: 0rem;">
		<h1 id="mypageheader">Welcome to the CEEO</h1>


    </div>
    <div id="featured">
	<!--<p class="pagesubtitle" style="color:#2efa98;font-weight:800">CEEO INNOVATIONS PROJECTS</p>-->

<!--<HR class="myhr" COLOR="#EF4764" >-->
      	 <div class="descriprow row no-gutters"  style="margin-top: 0rem; margin-left:3rem;margin-right:3rem;">
                <p data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=600  class="ceeodescrip">The Tufts Center for Engineering Education (CEEO) is dedicated to improving education through engineering (and vice versa).
                    Our work spans a variety of disciplines from collaborating with Lego Robotics to designing Makerspaces to bringing technology into K-12 classrooms.
                     CEEO Innovations is a database for the many projects and innovations going on at the center.</p>

                <div class="circlecol col-sm col-md-4 col-lg-4">
                     <a id="circle"data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=800  href="about.html" class="circle-work-thumb">
                       <div class="circle-work-text">
                             <h2>About the CEEO</h2>

                             <p style="font-size:1rem;">LEARN MORE</p>

                     </div>

                     <div id="circle" style="background-image: url(web/img/ceeohome.jpg);">  </div>

                    </a>
                </div>
                <div class="circlecol col-sm col-md-4 col-lg-4">
                     <a id="circle" data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=1000  href="about.html" class="circle-work-thumb">
                       <div class="circle-work-text">
                             <h2>Resources</h2>

                             <p style="font-size:1rem;"> For Educators and Learners</p>
                     </div>
                     <div id="circle" style="background-image: url(web/img/cupbridge.jpg) ;">  </div>
                    </a>
                </div>
                <div class="circlecol col-sm col-md-4 col-lg-4">
                     <a id="circle"data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=1200  href="about.html" class="circle-work-thumb">
                       <div class="circle-work-text">
                             <h2>Explore Projects</h2>

                             <p style="font-size:1rem;">Our Work</p>
                     </div>
                     <div id="circle" style="background-image: url(web/img/dogwheelchair.jpg) ;">  </div>
                    </a>
                </div>


           </div>
           </div>
  </section>
