---
layout: contributorwrapper
---
<link rel="stylesheet preload"  as="style"href="web/mycss/about.css">

<div class="col-md"style="margin-top: 15rem">
           <h1 id="mycontribpageheader">About</h1>
   </div>

   <section class="homepagesection clearfix">


 <div id="white-feature">

   	<div class="col-md-6" >
   		<h1 id="myconpageheader" style="color: #f3f3f3;">Welcome to the CEEO</h1>


       </div>
       <div id="featured">
   	<!--<p class="pagesubtitle" style="color:#2efa98;font-weight:800">CEEO INNOVATIONS PROJECTS</p>-->

   <!--<HR class="myhr" COLOR="#EF4764" >-->
         	 <div class="descriprow row no-gutters"  style="margin-top: 0rem; margin-left:3rem;margin-right:3rem;">
                   <p data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=600  class="ceeodescrip">
Tufts Center for Engineering Education and Outreach (CEEO), located just outside Boston MA USA, is a leader in “improving education through engineering” for K-12 and university classrooms. The fundamental belief motivating our education research, educational technologies, and outreach is that this integration helps students develop critical skills and improved excitement for learning, leading to wider technical literacy, higher quality of life, and greater environmental responsibility awareness.


Tufts CEEO has a variety of services and programming that is of interest to educators around the world. A few of our most popular offerings are listed below.</p>



              </div>
              </div>
              </div>
     </section>

     <div class="circlecol col-sm col-md-4 col-lg-4">
         <a id="circle"data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=800  href="about.html" class="circle-work-thumb">
            <div class="circle-work-text">
                  <h2>About the CEEO</h2>

                  <p style="font-size:1rem;">LEARN MORE</p>

         </div>

         <div id="circle" style="background-image: url(web/img/ceeohome.jpg);">  </div>

        </a>
    </div>

    <div class="circlecol col-sm col-md-4 col-lg-4">
         <a id="circle"data-aos="fade" data-aos-easing="linear" data-aos-offset=10 data-aos-duration=1200  href="about.html" class="circle-work-thumb">
            <div class="circle-work-text">
                  <h2>Explore Projects</h2>

                  <p style="font-size:1rem;">Our Work</p>
         </div>
         <div id="circle" style="background-image: url(web/img/dogwheelchair.jpg) ;">  </div>
        </a>
    </div>
