---
layout: "homewrapper"
---
<!DOCTYPE html>
<html lang="en">
<head>


<link href="web/mycss/home_style.css" rel="stylesheet preload" as="style">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
<!---------------WElcome ------------------------------------->
{% include home_ceeo_intro.html%}


<!--....FEATURED PROJECTS...................................................................................-->
{% include home_featured_projects.html%}

<!--....DISCOVER PROJECTS...................................................................................-->
{% include search_projects.html%}

<!--....DISCOVER PROJECTS...................................................................................-->

  <div class="col-md-6" style="margin-top: 5rem;">

        <h1 id="mypageheader">Discover Projects</h1>
  </div>
 <div id="featured" >
 <section class="search-section page-section clearfix" style = "margin-top:0rem;margin-bottom:5rem: padding:none;">

               <!-- Html Elements for Search -->
               <div id="searchbox">
                    {% for i in site.my_categories %}
                     <div class ="buttoncol navlink nav hvr-shrink" style="margin-left: 0rem">
                         <h6  id={{i | replace: ' ', '_' }} class="myButton" >{{i}}</h6>
                    </div>
                    {% endfor %}

                    </div>
                    <h4 style="display: inline" class="searchlabel"> Search  </h4>
                     <div style="display: inline" id="search-container">
                         <input type="text" id="search-input" placeholder="search...">
                    </div>

               <div id="results-container-container"class="row mb-5 no-gutters" style="padding-bottom:8rem;">

                    <div id="results-container" class="row mb-5 no-gutters"></div>

                    {% for i in site.my_categories %}
                            {% for project in site.projects %}
                            {% if project.categories contains i %}
                            {% if project.url != "/projects/SAMPLE-FILE.html" %}

                          <div  class="{{i | replace: " ", "_"}} col-sm-3 col-md-3 col-lg-3" style="display:none" data-aos="fade" data-aos-delay="100">
                                <a rel="preload"  href="{{ project.url | prepend: site.baseurl | replace: '//', '/' }}" class="work-thumb">
                                 <div class="work-text">
                                       <h2>{{project.title}}</h2>
                                       <p>CEEO INNOVATIONS</p>
                                 </div>
                                 <div id="block" style="background-color: blue; border-color:#fff; max-height: 40%; width: 100%"> x </div>
                               <img src="{{project.displayimg | prepend: 'project_assets/'}}" alt="Image" class="img-fluid" style=" border-color:#fff; max-height: 40%; width: 100%">
                               </a>
                            </div>
                            {% endif %}

                            {% endif %}
                           {% endfor %}

                    {%endfor%}


               </div>

</section>
</div>


  </body>







 <script src="web/js/search_function.js"></script>
  <script src="web/js/bootstrap.bundle.min.js"></script>


  <script src="web/js/jquery-3.2.1.min.js"></script>
  <script src="web/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="web/js/jquery.waypoints.min.js"></script>
  <script src="web/js/jquery.fancybox.min.js"></script>
  <script src="web/js/jquery.stellar.min.js"></script>
  <script src="web/js/bootstrap.js"></script>
    <script src="web/js/popper.min.js"></script>

  <script src="web/js/main.js"></script>
</html>
